@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh;
  padding: 20px;
}

.container {
  border: 4px solid black;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-item: left;
  width: 26%;
  height: 80vh;
}
.img {
  width: 381px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}

.paragraph {
  line-height: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: inherit;
}

.button {
  font-size: 16px;
  transition: all 0.3s ease;
  border: none;
}
.button-1 {
  background-color: blue;
  border: none;
  height: 32px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  margin-right: 6px;
  margin-top: 8px;
}
.button-1:hover {
  opacity: 0.6;
  transition: opacity 0.3d ease-in-out;
  transform: translateY(-2px);
  cursor: pointer;
}
.button-2 {
  background-color: #ffff00;
  border: none;
  height: 32px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  margin-right: 6px;
}
.button-2:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-2px);
  cursor: pointer;
}
.button-3 {
  background-color: #ff0000;
  border: none;
  height: 32px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  margin-right: 6px;
}
.button-3:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-2px);
  cursor: pointer;
}
.button-4 {
  background-color: #add8e6;
  border: none;
  height: 32px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  margin-right: 6px;
  margin-top: 6px;
}
.button-4:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-2px);
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    width: 70%;
    height: 80vh;
  }

  .img {
    width: 100%;
  }
  .paragraph {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
  .button {
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
  }
  .button-2 {
    position: relative;
    right: 6px;
  }
  .button-4 {
    position: relative;
    left: 8px;
  }
}
@media (max-width: 470px) {
  .container {
    width: 70%;
    height: 100vh;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    text-wrap: wrap;
  }
  .img {
    width: 100%;
  }
  .paragraph {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
  .button {
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
  }
  .button-2 {
    position: relative;
    right: 6px;
  }
  .button-4 {
    position: relative;
    left: 8px;
  }
}
